[include]
  path = ~/.gitconfig-secret
  ; path = ~/.config/delta/themes.gitconfig

[pull]
  rebase = true

[merge]
	tool = "nvim"

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvim"]
	cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[rerere]
	enabled = true
